

<form action='/place_ship/' method='post'> 

  <% fleet.each_with_index do |ship, i| %> 

    <% @ship_type = ship.type.to_s.titleize %>
    <% @ship_size = ship.size %>

    Please enter coordinates for <%=@ship_type%> of size <%=@ship_size%>

    Start Point (A01 to J10)
    <input type="text" name=<%="start_cell#{i}"%> />

    Orientation (horizontal or vertical)
    <input type="text" name=<%="orientation#{i}"%> />

  <% end %>

  <input type="submit" value=<%="submit"%> />

</form>
