<table class="game-summary">
  <th colspan="4">Game Summary</th>
  <tr>
    <td>Players</td><td>Shots Received</td><td>Hits Suffered</td><td>Ships Sunk</td>
  </tr>
  <tr>
    <% if settings.game.players[0] %>
      <td><%= settings.game.players[0].name %></td>
      <td><%= settings.game.shots_received(0) %></td>
      <td><%= settings.game.ship_hits_suffered(0) %></td>
      <td><%= settings.game.ships_sunk(0) %></td>
    <% else %>
      <td>Player1</td><td></td><td></td><td></td>
    <% end %>
  </tr>
  <tr>
    <% if settings.game.players[1] %>
      <td><%= settings.game.players[1].name %></td>
      <td><%= settings.game.shots_received(1) %></td>
      <td><%= settings.game.ship_hits_suffered(1) %></td>
      <td><%= settings.game.ships_sunk(1) %></td>
    <% else %>
      <td>Player2</td><td></td><td></td><td></td>
    <% end %>
  </tr>
</table>
