
<form action='/place_ship'> 

  Currntly placing ships for <%= session[:current_player] %>
  <p></p>
  <a href="/"> Return to Main Menu </a>
  <p></p>
  <h1><%= @error %></h1>
  <p></p>
  Please enter coordinates for <%=@ship_type%> of size <%=@ship_size%>
  <p></p>
  Start Point: <input type="text" name=<%="start_cell"%> /> (A01 to J10)
  <p></p>
  Orientation: <input type="text" name=<%="orientation"%> /> (horizontal or vertical)
  <p></p>
  <input type="submit" value=<%="submit"%> />

</form>

