<!DOCTYPE html>
<html>

<head>
  <title>Battleships</title>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/grid.css">
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>

<body>

  <header>
    <section class="col-2-5">
      <h1>Emily and Andy's Battleships</h1>
    </section>
    <section class="col-3-5">
    <%= erb :_header %>
    </section>
  </header>

  <section id="main">
    <%= erb :_flash %>

    <section class="grid">

      <section class="col-1-5">
        <%= erb :_left_hand_nav %>
      </section>

      <section class="col-1-5">
        <%= yield %>
      </section>

      <section class="col-3-5">

        <section class="row-1-2">
          <%= erb :_opponents_board %>
        </section>

        <section class="row-1-2">
          <%= erb :_players_board %>
        </section>

      </section>

    </section>

  </sectin>

</body>

</html>