<a href="/"> Return to Main Menu </a>
<p></p>
<%= session[:current_player] %> Your turn to shoot!
  <p></p>
  Please enter the coordinates for your shot..
  <p></p>

<select name="column" form="target_coordinates">
  <% [*"A".."J"].each do |column| %>
    <option value=<%= column %>><%= column %></option>
  <% end %>
</select>

<select name="row" form="target_coordinates">
  <% [*1..10].each do |row| %>
    <option value=<%= row %>><%= row %></option>
  <% end %>
</select>

<form action='/shot_result' id="target_coordinates"> 
  <input type="submit" value="submit">
</form>
