<a href="/"> Return to Main Menu </a>
<p></p>
<%= session[:current_player] %> Your turn to shoot!
  <p></p>
  <h1><%= @error %></h1>
  <p></p>
  Please enter the coordinates for your shot..
  <p></p>

<form action='/shot_result'> 
  Target Cell: <input type="text" name=<%="target_cell"%> /> (A01 to J10)
  <p></p>
  <input type="submit" value=<%="submit"%> />

</form>

<%= erb :_opponents_board %>